server {
    listen 172.18.0.10:8080;
    server_name localhost;

    location / {
        methods GET DELETE;
        root /var/www/html;
        index index.html;
    }

    location /folder {
        methods POST;
        root /var/www/html/folder;
        index index.html;
        listable true;
        upload on /var/www/html/files;
    }
}